#notation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 150px;
    max-height: 250px;
    align-content: flex-start;
    color: #bcbcbb;
    overflow: auto;
    scrollbar-width: thin;
}
#notation::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #333332;
    
}
#notation::-webkit-scrollbar-thumb {
    background: #838382;
}
#notation .fullMove {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#notation .fullMove div {
    width: 50%;
    padding: 5px;
    text-align: center;
}
#notation .fullMove .moveNo {
    width: 50px;
    background: #302f2d;
    border-right: 1px solid #646460;
}