#notation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 150px;
    max-height: 250px;
    align-content: flex-start;
    color: #bcbcbb;
    overflow: auto;
    scrollbar-width: thin;
}
#notation::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #333332;
    
}
#notation::-webkit-scrollbar-thumb {
    background: #838382;
}
#notation .fullMove {
    text-align: center;
    display: flex;
    width: 100%;
}
#notation .fullMove .moveNo {
    padding: 5px;
    width: 16%;
    background: #302f2d;
    border-right: 1px solid #646460;
}
#notation .fullMove .moveBoard {
    width: 42%;
    padding: 5px;
    cursor: pointer;
}
#notation .fullMove .moveBoard:hover {
    background-color: #94c3ec;
    color: #081520;
}
#notation .fullMove .moveBoard.active {
    background-color: #778795;
    color: #131a21;
}