#chessboard .square {
    display: grid;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
} 
#chessboard .square.dark {
    background-color: #5da2b5;
} 
#chessboard .square.dark.new {
    background-color: #397788;
} 
#chessboard .square.light {
    background-color: #fff;
} 
#chessboard .square.light.new {
    background-color: #ffffd8;
} 
#chessboard .square.dark.highlight {
    background-color: #ff5353;
} 
#chessboard .square.light.highlight {
    background-color: #ff6161;
} 
#chessboard .square .chess-piece {
    width: 100px;
    height: 100px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 90;
}

#chessboard .square .chess-piece:hover { 
    cursor: grab;
}
#chessboard .square .chess-piece:active { 
    cursor: grabbing;
}
#chessboard .square:not(:empty) {
    cursor: pointer;
}

#chessboard .square .legal-move {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: orange;
    z-index: 1;
    opacity: 0.5;
    margin:35px;
}
#chessboard .square .chess-piece + .legal-move { 
    width: 100px;
    height: 100px;
    border: 6px solid orange;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    opacity: 0.5;
    margin:0;
}

#chessboard .square .chess-piece.pawn.white {
    background-image: url("../../../public/assets/images/pawn_w.png");
}
#chessboard .square .chess-piece.bishop.white {
    background-image: url("../../../public/assets/images/bishop_w.png");
}
#chessboard .square .chess-piece.knight.white {
    background-image: url("../../../public/assets/images/knight_w.png");
}
#chessboard .square .chess-piece.rook.white {
    background-image: url("../../../public/assets/images/rook_w.png");
}
#chessboard .square .chess-piece.queen.white {
    background-image: url("../../../public/assets/images/queen_w.png");
}
#chessboard .square .chess-piece.king.white {
    background-image: url("../../../public/assets/images/king_w.png");
}

#chessboard .square .chess-piece.pawn.black {
    background-image: url("../../../public/assets/images/pawn_b.png");
}
#chessboard .square .chess-piece.bishop.black {
    background-image: url("../../../public/assets/images/bishop_b.png");
}
#chessboard .square .chess-piece.knight.black {
    background-image: url("../../../public/assets/images/knight_b.png");
}
#chessboard .square .chess-piece.rook.black {
    background-image: url("../../../public/assets/images/rook_b.png");
}
#chessboard .square .chess-piece.queen.black {
    background-image: url("../../../public/assets/images/queen_b.png");
}
#chessboard .square .chess-piece.king.black {
    background-image: url("../../../public/assets/images/king_b.png");
}