#chessboard .square {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
} 
#chessboard .square.dark {
    background-color: #5da2b5;
} 
#chessboard .square.dark.new {
    background-color: #397788;
} 
#chessboard .square.light {
    background-color: #fff;
} 
#chessboard .square.light.new {
    background-color: #ffffd8;
} 
#chessboard .square .chess-piece {
    width: 100px;
    height: 100px;
    background-size: 90px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 90;
}
#chessboard .square .chess-piece:hover { 
    cursor: grab;
}
#chessboard .square .chess-piece:active { 
    cursor: grabbing;
}

#chessboard .square .chess-piece.pawn.white {
    background-image: url("../../../public/assets/images/pawn_w.png");
}
#chessboard .square .chess-piece.bishop.white {
    background-image: url("../../../public/assets/images/bishop_w.png");
}
#chessboard .square .chess-piece.knight.white {
    background-image: url("../../../public/assets/images/knight_w.png");
}
#chessboard .square .chess-piece.rook.white {
    background-image: url("../../../public/assets/images/rook_w.png");
}
#chessboard .square .chess-piece.queen.white {
    background-image: url("../../../public/assets/images/queen_w.png");
}
#chessboard .square .chess-piece.king.white {
    background-image: url("../../../public/assets/images/king_w.png");
}

#chessboard .square .chess-piece.pawn.black {
    background-image: url("../../../public/assets/images/pawn_b.png");
}
#chessboard .square .chess-piece.bishop.black {
    background-image: url("../../../public/assets/images/bishop_b.png");
}
#chessboard .square .chess-piece.knight.black {
    background-image: url("../../../public/assets/images/knight_b.png");
}
#chessboard .square .chess-piece.rook.black {
    background-image: url("../../../public/assets/images/rook_b.png");
}
#chessboard .square .chess-piece.queen.black {
    background-image: url("../../../public/assets/images/queen_b.png");
}
#chessboard .square .chess-piece.king.black {
    background-image: url("../../../public/assets/images/king_b.png");
}