#chessboard {
    position: relative;
    display: grid;
    width: calc(90vh - 68.5px);
    height: calc(90vh - 68.5px);
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-color: #ddd;
    overflow: hidden;
}
#chessboard .horizontalLabels {
    width: 100%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    line-height: normal;
    bottom: 0;
    left: 0;
    font-size: 15px;
    color: #535252;
    text-shadow: 0px 0px 4px white;
}
#chessboard .horizontalLabels div {
    width: 12.5%;
    padding: 0px 4px;
}

#chessboard .verticalLabels {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #535252;
    text-shadow: 0px 0px 4px white;
}
#chessboard .verticalLabels div {
    height: 12.5%;
    padding-left: 3px;
}

#chessboard .drawings {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

#chessboard .resizeBoard {
    display: block;
    position: absolute;
    right: -9px;
    bottom: -9px;
    width: 22px;
    height: 22px;
    cursor: nw-resize;
    z-index: 100;
}

#chessboard .resizeBoard::before, #chessboard .resizeBoard::after {
    background: #000;
    content: '';
    position: absolute;
    width: 12px;
    height: 1px;
    left: 0;
}
#chessboard .resizeBoard::before {
    width: 5px;
    transform: translate(7px, 8px) rotate(-45deg);
}
#chessboard .resizeBoard::after {
    transform: translate(1px, 6px) rotate(-45deg);
}

#pawn-promotion-modal {
    display: none;
    position: absolute;
    background-color: rgb(0,0,0, 0.4);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#pawn-promotion-modal.active {
    display: block;
}
#pawn-promotion-modal > .modal-body {
    display: flex;
    align-items: center;
    align-content: space-between;
    position: absolute;
    height: 200px;
    width: 800px;
    top: calc(50% - 100px);
    left: calc(50% - 400px);
}
#pawn-promotion-modal > .modal-body img {
    cursor: pointer;
    height: 150px;
    padding: 5px;
    margin: 20px;
}
#pawn-promotion-modal > .modal-body img:hover {
    background-color: rgb(250,250,250, 0.2);
    border-radius: 30%;
}
