#chessboard {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-column-start: (8);
    background-color: #ddd;
    width: 800px;
    height: 800px;
    margin: auto;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

#chessboard .horizontalLabels {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    height: 20px;
    position: absolute;
    bottom: calc(50% - 420px);
    left: calc(50% - 400px);
    text-align: right;
    font-size: 20px;
}
#chessboard .horizontalLabels div {
    width: 100px;
    padding-right: 5px;
    color: #ddd;
}
/* #chessboard .horizontalLabels div:nth-child(2n){
    color: #6f6f6f;
} */

#chessboard .verticalLabels {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    height: 800px;
    width: 20px;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 420px);
    flex-direction: column-reverse;
    font-size: 20px;
}
#chessboard .verticalLabels div {
    height: 100px;
    width: 20px;
    color: #ddd;
}
/* #chessboard .verticalLabels div:nth-child(2n){
    color: #6f6f6f;
} */

