#chessboard {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-column-start: (8);
    background-color: #ddd;
    width: 800px;
    height: 800px;
    margin: auto;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
#chessboard .horizontalLabels {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    height: 20px;
    position: absolute;
    bottom: calc(50% - 420px);
    left: calc(50% - 400px);
    text-align: right;
    font-size: 20px;
}
#chessboard .horizontalLabels div {
    width: 100px;
    padding-right: 5px;
    color: #ddd;
}
/* #chessboard .horizontalLabels div:nth-child(2n){
    color: #6f6f6f;
} */

#chessboard .verticalLabels {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    height: 800px;
    width: 20px;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 420px);
    flex-direction: column-reverse;
    font-size: 20px;
}
#chessboard .verticalLabels div {
    height: 100px;
    width: 20px;
    color: #ddd;
}
/* #chessboard .verticalLabels div:nth-child(2n){
    color: #6f6f6f;
} */

#pawn-promotion-modal {
    display: none;
    position: absolute;
    background-color: rgb(0,0,0, 0.4);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#pawn-promotion-modal.active {
    display: block;
}
#pawn-promotion-modal > .modal-body {
    display: flex;
    align-items: center;
    align-content: space-between;
    position: absolute;
    height: 200px;
    width: 800px;
    
    top: calc(50% - 100px);
    left: calc(50% - 400px);
}
#pawn-promotion-modal > .modal-body img {
    cursor: pointer;
    height: 150px;
    padding: 5px;
    margin: 20px;
}
#pawn-promotion-modal > .modal-body img:hover {
    background-color: rgb(250,250,250, 0.2);
    border-radius: 30%;
}

#FEN {
    position: absolute;
    width: 720px;
    background-color: #41403d;
    padding: 4px;
    border-radius: 4px;
    top: 10px;
    color: #bcbcbb;
}

#FEN input {
    padding: 6px;
    width: 450px;
    background-color: #41403d;
    border: 1px solid #41403d;
    color: #bcbcbb;
}

#FEN input:focus{
    outline: none;
}

#FEN::before {
    content: "FEN";
    color: #bcbcbb;
    margin-right: 20px;
}

button.loadFEN {
    cursor: pointer;
    float: right;
    padding: 6px;
    background-color: #41403d;
    color: #bcbcbb;
    border: 1px solid #737373;
    border-radius: 4px;
}
button.loadFEN:hover {
    background-color: #585856;
}

#turnTeam {
    width: 150px;
    height: 10px;
    position: absolute;
    
    right: calc(50% - 560px);
}
#turnTeam.white {
    bottom: calc(50% - 210px);
    background: white;
    color: black;
}
#turnTeam.black {
    top: calc(50% - 210px);
    background: black;
    color: white;
}